.recovered {
  color: rgb(43, 157, 11);
}
.deaths {
  color: #e80923;
}
.masthead {
  padding-top: 2vh;
  text-align: center;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 8%;
}
.centertext {
  text-align: center;
}
.coronaGraph {
  width: 100vh;
  margin: 0 auto;
}
