.recovered {
  color: rgb(43, 157, 11);
}
.deaths {
  color: #e80923;
}
.masthead {
  padding-top: 2vh;
  text-align: center;
}
.patientDetail {
  box-sizing: border-box;
  border: solid gainsboro 1px;
  margin-bottom: 1vh;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 8%;
}
