.deathbox {
  background-color: #f2293a;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: white;
}
.recoverbox {
  background-color: #03a64a;
  padding-top: 3vh;
  color: white;
  padding-bottom: 3vh;
}
.confirmbox {
  background-color: #3b0273;
  padding-top: 3vh;
  color: white;
  padding-bottom: 3vh;
}

.currstatus {
  padding-top: 5vh;
  font-weight: 600;
  padding-bottom: 5vh;
}
.status {
  background-color: #ffc800;
}
.world {
  background-color: #000000;
  color: white;
}

.masthead {
  padding-top: 5vh;
  text-align: center;
  padding-bottom: 1vh;
  font-weight: 900;
}

.centertext {
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 10vh;
  bottom: 0px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

body {
  color: black;
  font-family: "Noto Serif", serif;
}
.coronaGraph {
  background-color: rgba(250, 250, 250, 0.9);
  padding: 3vh 3vh;
  box-sizing: border-box;
  box-shadow: rgba(41, 41, 41, 0.9) 10px 10px 10px;
  margin-bottom: 5vh;
}
.countermain {
  font-weight: bold;
}

.logoimg {
  text-align: center;
  padding-bottom: 3vh;
}
.mainheader {
  background-color: black;
  color: white;
}
.graphtitle {
  padding-bottom: 3vh;
  padding-top: 3vh;
}
